body {
    background-color: gray;
    color: black;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-around;
}
main {
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hide {
    display: none;
}



    




